<!DOCTYPE html>
<html lang="en">
{% include 'header/data_entry_header.html' %}

<body id="page-top">

    <!-- Page Wrapper -->

    <!-- End of Sidebar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Session Table</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank"
                href="https://datatables.net">official DataTables documentation</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Session Table

                    <div class="my-2" style="float:right;">
                        <button href="#" class="btn btn-info btn-icon-split" data-toggle="modal"
                            data-target="#add_data_Modal">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Add</span>
                        </button>
                    </div>
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form method="post" action="/data_entry/session/update">

                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>S no</th>
                                    <th>Course Name</th>
                                    <th>Session Name</th>
                                    <th>Session Description</th>
                                    <th>Session Date</th>
                                    <th>Session Start Time</th>
                                    <th>Session End Time</th>
                                    <th>Faculty Name</th>
                                    <th>Session Status</th>
                                    <th>Feedback Link</th>
                                    <th>Edit</th>
                                    <th>Delete</th>


                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>S no</th>
                                    <th>Course Name</th>
                                    <th>Session Name</th>
                                    <th>Session Description</th>
                                    <th>Session Date</th>
                                    <th>Session Start Time</th>
                                    <th>Session End Time</th>
                                    <th>Faculty Name</th>
                                    <th>Session Status</th>
                                    <th>Feedback Link</th>
                                    <th>Edit</th>
                                    <th>Delete</th>

                                </tr>
                            </tfoot>
                            <tbody>
                                {% for row in session %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{row.course_name}}</td>
                                    <td>{{row.session_name}}</th>
                                    <td>{{row.session_discription}}</td>
                                    <td>{{row.session_date}}</td>
                                    <td>{{row.session_starttime}}</th>
                                    <td>{{row.session_endtime}}</td>
                                    <td>{{row.faculty_name}}</td>
                                    <td>{{row.session_status}}</th>
                                    <td>
                                        <a href="/feedback?id={{row.session_id}}" class="btn btn-warning "><i
                                                class="fas fa-copy"></i></a>
                                    </td>
                                    <td>
                                        <a type="button" name="view" value="view" id="{{row.session_id}}"
                                            class="btn btn-success btn-xs view_data"><i
                                                class="fas fa-pencil-alt"></i></a>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-danger " value="{{row.session_id}}"
                                            name="delete" id='deletecheck' onclick="return validateForm()"><i
                                                class="fas fa-trash"></i></button>
                                    </td>



                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2020</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>




    <!-- Add Modal-->
    <div id="add_data_Modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Insert Course Session</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <form method="post" id="insert_form">
                        <label>Enter Course Name</label>
                        <select name="cname" id="status" class="form-control">
                            {% for row in course %}
                            <option value="{{row.course_id}}">{{row.course_name}} - {{row.course_grade}} -
                                {{row.subject_name}}</option>
                            {% endfor %}

                        </select></td>
                        <br />
                        <label>Enter session Duration</label>
                        <input type="number" name="sduration" id="name" class="form-control" />
                        <br />
                        <label>Enter Session Name</label>
                        <input type="text" name="sname" id="name" class="form-control" />
                        <br />

                        <label>Enter Session Description</label>
                        <textarea name="desc" id="address" class="form-control"></textarea>
                        <br />

                        <label>Enter Session Date</label>
                        <input type="date" name="sdate" id="name" class="form-control" />
                        <br />

                        <label>Enter Session Start Time</label>
                        <input type="time" name="stime" id="name" class="form-control" />
                        <br />

                        <label>Enter Session End Time</label>
                        <input type="time" name="etime" id="name" class="form-control" />
                        <br />

                        <label>Enter Faculty Name</label>
                        <select name="fid" id="status" class="form-control">
                            {% for rows in faculty %}
                            <option value="{{rows.faculty_id}}">{{rows.faculty_name}}</option>
                            {% endfor %}

                        </select></td>
                        <br />

                        <!-- <label>Status</label> 
                            <select name="status" id="status" class="form-control">
								<option value="Opened">Opened</option>
								<option value="closed">Closed</option>
							</select></td> 
     <br /> -->


                </div>

                <div class="modal-footer">
                    <input type="submit" name="insert" id="insert" value="Insert" class="btn btn-success" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--Update table modal-->

    <div id="dataModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Course Session Details</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <form method="post" id="update_form">
                            <table class="table table-bordered">
                                <tr>
                                    <input type="hidden" name="session_id" class="form-control" id="sessio_id">
                                    <td width="30%"><label>Course Name</label>
                                    <td width="70%"><input type="text" name="course_name" class="form-control"
                                            id="course_name" disabled></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label> Session Name</label>
                                    <td width="70%"><input type="text" name="session_name" class="form-control"
                                            id="session_name"></td>
                                </tr>

                                <tr>
                                    <td width="30%"><label> Session Date</label>
                                    <td width="70%"><input type="date" name="session_date" class="form-control"
                                            id="session_date"></td>
                                </tr>
                                <tr>
                                    <td width="30%"> <label> Session Start Time</label>
                                    <td width="70%"><input type="time" name="session_starttime" class="form-control"
                                            id="session_starttime"></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label> <label> Session End Time</label> </label></td>
                                    <td width="70%"><input type="time" name="session_endtime" class="form-control"
                                            id="session_endtime"></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label> <label>Faculty Name</label> </label></td>
                                    <td width="70%"><input type="text" name="faculty_name" class="form-control"
                                            id="faculty_name" disabled></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label>Status</label></td>
                                    <td width="70%"><select name="status" id="mySelect" class="form-control">
                                            <option value="open">Opened</option>
                                            <option value="close">Closed</option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <td width="30%"><label> Session Description</label>
                                    <td width="70%"><textarea type="text" name="session_discription"
                                            class="form-control" id="session_discription"></textarea>
                                    </td>
                                </tr>
                            </table>
                            <div class="modal-footer">
                                <input type="submit" name="update" id="update" value="Update" class="btn btn-success" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </form>
                    </div>

                </div>
            </div>




            <script>
                $(document).ready(function () {
                    $('#insert_form').on("submit", function (event) {
                        event.preventDefault();

                        $.ajax({
                            url: "/data_entry/session",
                            method: "POST",
                            data: $('#insert_form').serialize(),
                            beforeSend: function () {
                                $('#insert').val("Inserting");
                            },
                            success: function (data) {
                                $('#add_data_Modal').modal('hide');
                                if (data == 'success') {
                                    swal("Data is submitted successfully!",
                                        "New session is Created", "success");

                                    var delayInMilliseconds = 6500; //1 second

                                    setTimeout(function () {
                                        window.location.href =
                                            "/data_entry/session";
                                    }, delayInMilliseconds);

                                }
                                if (data == 'error') {
                                    console.log('error')
                                    swal("Data is not Submitted!",
                                        "Error in submitting Data",
                                        "error");
                                    window.location.href = "/data_entry/course";
                                }
                            }
                        });

                    });


                    $('#update_form').on("submit", function (event) {
                        event.preventDefault();

                        $.ajax({
                            url: "/data_entry/session/change",
                            method: "POST",
                            data: $('#update_form').serialize(),
                            beforeSend: function () {
                                $('#update').val("Updating");
                            },
                            success: function (data) {
                                $('#add_data_Modal').modal('hide');
                                if (data == 'success') {
                                    console.log('success')
                                    window.location.href = "/data_entry/session";
                                }
                            }
                        });

                    });






                    $(document).on('click', '.view_data', function () {
                        var sessio_id = $(this).attr("id");
                        $.ajax({
                            url: "/data_entry/session/select",
                            method: "POST",
                            data: {
                                sessio_id: sessio_id
                            },
                            success: function (data) {
                                $('#dataModal').modal('show');
                                var data_rs = JSON.parse(data);
                                $('#sessio_id').val(data_rs[0]['session_id']);
                                $('#course_name').val(data_rs[0]['course_name']);
                                $('#session_name').val(data_rs[0]['session_name']);
                                $('#session_discription').val(data_rs[0][
                                    'session_discription'
                                ]);

                                $('#session_date').val(data_rs[0]['session_date']);
                                document.getElementById("mySelect").value = data_rs[0][
                                    'status'
                                ];

                                $('#session_starttime').val(data_rs[0][
                                'session_starttime']);

                                $('#session_endtime').val(data_rs[0]['session_endtime']);
                                $('#faculty_name').val(data_rs[0]['faculty_name']);


                            }
                        });
                    });



                });
            </script>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <script>
                swal("{{message}}", "Session Deleted Successfully !", "success");
            </script>
            {% endfor %}
            {% endif %}
            {% endwith %}


</body>

</html>