<!DOCTYPE html>
<html lang="en">
{% include 'header/data_entry_header.html' %}

        <!-- End of Sidebar -->

       

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Faculty Table</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Faculty Table
							
							<div class="my-2" style="float:right;">
                                    <BUTTON href="#" class="btn btn-info btn-icon-split" data-toggle="modal" data-target="#add_data_Modal">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text">Add</span>
                                    </button>
                                    </div></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form method="post"  action="/data_entry/faculty/update" >

                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>S no</th>
                                            <th>Faculty Name</th>
											<th>Faculty E-mail</th>
                                            <th>Faculty Contact</th>
											<th>Update</th>
											<th>Delete</th>
											
											
                                           
                                        </tr>
                                    </thead>
                                    <tfoot>

                                        <tr>
                                            <th>S no</th>
                                            <th>Faculty Name</th>
											<th>Faculty E-mail</th>
                                            <th>Faculty Contact</th>
											<th>Update</th>
											<th>Delete</th>



                                        </tr>

                                    </tfoot>
                                    <tbody>
                                         {% for row in faculty %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row.faculty_name}}</td>
											<td>{{row.faculty_email}}</td>
                                            <td>{{row.faculty_contact}}</td>
											<td>
											
											
											<button  class="btn btn-success " data-toggle="modal" data-target="#dataModal">
											<i class="fas fa-pencil-alt"></i>
                                                 
                                            </button>
											
											</td>
											<td>
                                                <button type="submit" class="btn btn-danger " value="{{row.faculty_id}}"
                                                name="delete" id='deletecheck' onclick="return validateForm()"><i
                                                    class="fas fa-trash"></i></button>
											
											</td>
                                       
											
											
                                          
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


	
	
		<!-- Add Modal-->
<div id="add_data_Modal" class="modal fade">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <h4 class="modal-title">Insert Faculty</h4>
    <button type="button" class="close" data-dismiss="modal">×</button>
   
   </div>
   <div class="modal-body">
    <form method="post" id="insert_form">
	 <label>Enter Faculty Name</label>
     <input type="text" name="fname" id="name" class="form-control" />
	 <br />
	
     <label>Enter Faculty Email</label>
     <input type="mail" name="email" id="name" class="form-control" />
     <br />
	 
	 <label>Enter Faculty Contact</label>
      <input type="number" name="contact" id="address" class="form-control"/>
     <br />
     
	
     
   </div>

   <div class="modal-footer">
   <input type="submit" name="insert" id="insert" value="Insert" class="btn btn-success" />
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	 </form>
   </div>
  </div>
 </div>
</div>


   <!--Update table modal-->
	
	<div id="dataModal" class="modal fade">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
   <h4 class="modal-title">Faculty Details</h4>
    <button type="button" class="close" data-dismiss="modal">×</button>
    
   </div>
   <div class="modal-body">
      <div class="table-responsive">  
	  <form method="post" id="insert_form">
        <table class="table table-bordered">
        <tr>  
            <td width="30%"><label>Faculty Name</label>
            <td width="70%"><input type="text" class="form-control" id="view_name"></td>  
        </tr>
        <tr>  
            <td width="30%"><label>Faculty Email</label> 
            <td width="70%"><input type="mail" class="form-control" id="view_address"></td>  
        </tr>
        <tr>  
            <td width="30%"><label>Faculty conatact</label> 
            <td width="70%"><input type="number" class="form-control" id="view_age"/></td>    
        </tr>
       
    </table>
	 <div class="modal-footer">
   <input type="submit" name="insert" id="insert" value="Update" class="btn btn-success" />
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	 </form>
   </div>
	
	</div>
   </div>
	

   
   <script>
    $(document).ready(function () {
        $('#insert_form').on("submit", function (event) {
            event.preventDefault();

            $.ajax({
                url: "/data_entry/faculty",
                method: "POST",
                data: $('#insert_form').serialize(),
                beforeSend: function () {
                    $('#insert').val("Inserting");
                },
                success: function (data) {
                    $('#add_data_Modal').modal('hide');
                    if (data == 'success') {
                        swal("Data is submitted successfully!",
                            "New Faculty is Created", "success");

                        var delayInMilliseconds = 6500; //1 second

                        setTimeout(function () {
                            window.location.href =
                                "/data_entry/faculty";
                        }, delayInMilliseconds);

                    }
                    if (data == 'error') {
                        console.log('error')
                        swal("Data is not Submitted!",
                            "Error in submitting Data",
                            "error");
                        window.location.href = "/data_entry/faculty";
                    }
                }
            });

        });

        $(document).on('click', '.view_data', function () {
            var employee_id = $(this).attr("id");
            $.ajax({
                url: "/select",
                method: "POST",
                data: {
                    employee_id: employee_id
                },
                success: function (data) {
                    $('#dataModal').modal('show');
                    var data_rs = JSON.parse(data);
                    $('#view_name').val(data_rs[0]['emp_name']);
                    $('#view_address').val(data_rs[0]['address']);
                    $('#view_gender').val(data_rs[0]['gender']);
                    $('#view_designation').val(data_rs[0]['designation']);
                    $('#view_age').val(data_rs[0]['age']);
                }
            });
        });



    });



    
</script>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<script>

swal("{{message}}", "Faculty Deleted Successfully !", "success");

</script>
{% endfor %}
{% endif %}
{% endwith %} 


</body>

</html>